.page
{
    /* background-color: #162733; */
    margin: 10% auto 9% auto;
    padding: 10px 25px 10px 25px;
    width: 80%;
    border-radius: 10px;
    color: #e1e2e1;
    /* box-shadow: 0 0 50px #00000080; */
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    font-family: 'Times New Roman';
}

.hrimage
{
    width: 420px;
    height: 420px;
    display: flex;
    border-radius: 25px;
}

.pagetext
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.headline
{
    width: 90%;
    text-align: center;
    color: #8f6257;
    font-size: 1.2em;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.pagetext hr
{
    width: 15%;
    background-color: #e1e2e188;
    height: 5px;
    border-width: 0;
    border-radius: 2px;
}

.myname
{
    color: #1ba098;
    font-size: 3em;
    margin-top: 20px;
    font-weight: 500;
}

.bio
{
    width: 85%;
    text-align: center;
    color: #e1e2e1;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.mailme
{
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #1ba098;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.mailicon
{
    width: 20px;
    height: 15px;
}

.mailtext
{
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #00458b;
}

@media screen and (max-width: 1024px)
{
    .page
    {
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }
    
    .hrimage
    {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 678px)
{
    .page
    {
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }

    .hrimage
    {
        margin-bottom: 30px;
        width: 80%;
        height: 80%;
    }
}

@media screen and (max-width: 500px)
{
    .page
    {
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }

    .hrimage
    {
        margin-bottom: 30px;
        width: 80%;
        height: 80%;
    }
}
