*
{
    text-align: center;
}

body
{
   text-align: center; 
}

#professional_image
{
    margin: 0px 0px 20px 0px;
    padding: 10px 10px 10px 10px;
}

#name
{
    color: #000000;
    font-size: 40px;
}

#about_me, #credits, #contact, #social
{
    color: #0000ff;
    font-size: 30px;
}

#description_1, #description_2, #description_3
{
    color: #000000;
    font-size: 25px;
}

#link_1, #link_2, #link_3, #link_4, #link_5
{
    font-size: 25px;
}

a
{
    color: #0000ff;
    text-decoration: none;
}

a:hover
{
    color: #0000ff;
    text-decoration: underline;
}

footer
{
    text-align: center;
}